[Unit]
Description=node.js portfolio backend service

[Service]
ExecStart=/opt/portfolio-backend/app.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/portfolio-backend

[Install]
WantedBy=multi-user.target